fastapi
uvicorn[standard]
pydantic
SQLAlchemy
alembic
python-multipart
email-validator
passlib[bcrypt]
python-jose[cryptography]
requests
python-dateutil
apscheduler
jinja2
itsdangerous
pillow
imagehash
ExifRead
python-dotenv
beautifulsoup4
aiohttp
lxml
google-api-python-client

